[Unit]
Description=Cartographer Input Shaper Monitor
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Carto-Shaper-Monitor
ExecStart=/home/pi/Carto-Shaper-Monitor/venv/bin/python /home/pi/Carto-Shaper-Monitor/carto_shaper_monitor.py
Restart=always
RestartSec=2
User=pi

ProtectSystem=full
ProtectHome=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
